/* fontes */
@font-face {
  font-family: "poppins";
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppinslight";
  src: url(fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "poppinsbold";
  src: url(fonts/Poppins-ExtraBold.ttf);
}
/* cores */
:root {
  --core-black: rgb(0, 0, 0);
  --core-header: rgb(255, 244, 221);
  --cores-fontes: rgb(255, 162, 0);
  --cores-buttons: rgb(255, 188, 94);
  --cores--letras: azure;
  --cores--amarelo: rgb(255, 241, 84);
}
/* general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
  text-decoration: none;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
  text-decoration: none;
}
html {
  font-size: 56.5%;
}
/*The main header and navigation*/

.header {
  z-index: 100; /* gives priority to the element */
  width: 100%;
  top: 0%;
  position: fixed;
  padding: 2rem;
  display: flex;
  color: var(--cores-fontes);
  background-color: var(--core-header);
  justify-content: space-between;
  transform: 0.6s;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.logo-img {
  width: 13rem;
}
.home,
.contato {
  text-decoration: none;
  font-size: 1.7rem;

  background-color: var(--cores--header);
  padding: 0.7rem;
  border-radius: 2rem;
  transition: 0.4s;
}
a {
  color: inherit;
}
.home:hover {
  color: var(--core-black);
  background-color: var(--cores-buttons);
  border-radius: 7rem;
  transform: scale(1.2);
  color: white;
}

.contato:hover {
  color: var(--core-black);
  background-color: var(--cores-buttons);
  border-radius: 7rem;
  transform: scale(1.2);
  color: white;
}
.logo {
  position: relative;
  width: 30rem;
}

/* ----------------------------The main Title*/

.testt {
  background-color: rgb(255, 247, 233);
}

/* .testt {
    background-image: url(img/pexels-nataliya-vaitkevich-8468019.jpg);
  background-size: cover;

  background-repeat: no-repeat; 
} */
.preço {
  font-size: 2.5rem;

  text-align: center;
}

.title {
  z-index: 1;
  font-size: 3.4rem;
  padding: 16rem;

  text-align: center;
  color: rgb(255, 166, 0);
}
.preço > p {
  color: rgb(0, 0, 0);
}

/*-----------------------Price section---------------------------*/

.Price-section {
  position: relative;
  justify-content: space-between;

  display: flex;
  padding: 50px;
  background-color: rgb(255, 235, 192);
  height: 40rem;
}
.rs {
  font-size: 40px;
  font-family: poppinsbold;
}
.Price-box {
  text-align: center;
  font-size: 2rem;
  padding: 30px;
  width: 200px;

  margin-bottom: 50px;
  background-color: rgb(255, 162, 0);
}
.Typewr-H1 {
  font-size: 20px;
  display: inline-block;
}
.Typewr-effect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* .Mastercard-ways img {
  width: 35rem;
  position: relative;
  z-index: 1;
} */
.crcl-deco {
  z-index: 2;
  right: 23px;
  top: 300px;
  width: fit-content;
  content: "";
  border-radius: 50px;
  background-color: rgb(255, 162, 0);
  padding: 30px;
  position: absolute;
  position: absolute;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 174, 0);
  }
}

/*--------------------------end of Section--------------------------------*/

/*This is the carrusel */
/* -------------------------------------------------- */

.slider {
  max-width: 100rem;
  height: 40rem;
  margin: 5rem auto;
  position: relative;
  background-color: var(--cores-fontes);
  border-radius: 1rem;
  padding: 5rem;
  overflow: hidden;
}
.logo-card {
  position: absolute;
  top: 5rem;
  left: 4rem;
  width: 3rem;
  z-index: 1;
}
.card {
  width: 100%;
  padding: 3rem;
  position: absolute;
  top: 0;
  height: 40rem;
  gap: 2rem;
  border-radius: 2%;
  transition: transform 1s;
  align-items: center;
  display: flex;
  gap: 3rem;
}

.content {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
  color: var(--cores--letras);
  line-height: 1.2;
}
.resultado {
  position: relative;
  font-size: 4rem;
  color: var(--core-header);
}
.content::before {
  content: "\201C";
  position: absolute;
  top: 11rem;
  right: 10rem;
  line-height: 1;
  font-size: 10rem;
  font-family: inherit;
  color: var(--cores--amarelo);
  z-index: -1;
}
.img_card {
  object-fit: cover;
  box-shadow: 0 0 1px var(--core-black);
  width: 23rem;
  height: 30rem;
  border-radius: 10%;
}

.btn {
  z-index: 10;
  border-radius: 1rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.112);
  border: 1px solid var(--cores-fontes);
  box-shadow: 0 0 5px var(--core-header);
  cursor: pointer;
}
.ico {
  width: 4rem;
}

/*move button */

.button--right {
  right: 3%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.button--left {
  left: 3%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
/*close This carrusel */
/* -------------------------------------------------- */
/*The Footer*/
.footer-container {
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--cores-fontes);
  gap: 20rem;
  font-size: 1.3rem;
  border-bottom: solid 1px #ffffff;
}
/*content inside footer*/
.logo-footer {
  width: 15rem;
}
.info {
  font-size: 1.3rem;
}
#info-title {
  margin-bottom: 10px;
}
#info-list {
  margin-left: 2rem;
}
.footer-btns {
  padding-top: 1rem;
}
button {
  margin-right: 10px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
.footer-icon1 {
  border-style: none;

  border-radius: 120px;
  width: 40px;
}
.footer-icon2 {
  border-style: none;

  border-radius: 120px;
  width: 45px;
}
.footer-icon3 {
  border-style: none;
  background-color: #a58f6d;
  border-radius: 120px;
  width: 42px;
  padding: 8px;
}
.footer-icon4 {
  border-style: none;
  background-color: #a58f6d;
  border-radius: 120px;
  width: 45px;
  padding: 8px;
}
.footer-icon1,
.footer-icon2,
.footer-icon3 {
  transition: all 0.5s;
}

.footer-icon1:hover,
.footer-icon2:hover,
.footer-icon3:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/*Copyright*/
.footer-of-footer {
  color: #ffffff;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: var(--cores-fontes);
}

/*===============card contact */
.card__contact {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  background-color: var(--core-header);
  padding: 4rem 7rem;
  border: 5px solid #69401146;
  z-index: 1000;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
}
.card__contact::after {
  content: "";
  border-top: 5px solid #69401146;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 57%;
  left: 0;
  background-color: #ffa6006b;
  z-index: -1;
}
.card__contact--logo {
  align-self: center;
  width: 35rem;
  margin-bottom: 4rem;
}

.background__blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a393980;
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.5s;
}

.card__contact__header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-style: oblique;
}
.card__contact--ul {
  list-style: none;
  font-size: 2.5rem;
}
.card__contact--list {
  margin-top: 1rem;
}
.card__contact--list > a {
  font-size: 3rem;
  font-family: "Kalam", cursive;
  color: var(--cores-fontes);
}
.icons__card {
  margin-right: 1rem;
  width: 4rem;
}
.card__contact__btn--close {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0;
  right: 0.2rem;
  font-size: 5rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--cores-fontes);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/*================*/

@media (max-width: 50em) {
  .Mastercard-ways img {
    display: none;
  }
  .preço {
    display: none;
  }
  #title-last-child {
    font-size: 2.5rem;
    color: #363120;
  }
}

@media (max-width: 52.375em) {
  .footer-container {
    gap: 9rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 39.0625em) {
  .footer-container {
    gap: 2.5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 31.5em) {
  .title {
    font-size: 2.5rem;
  }
  .footer-container {
    gap: 9rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .logo-footer {
    display: none;
  }
}
