/* fontes */
@font-face {
  font-family: "poppins";
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppinslight";
  src: url(fonts/Poppins-Light.ttf);
}
/* cores */
:root {
  --core-header: rgb(236, 234, 234);
  --cores-fontes: blueviolet;
  --cores-buttons: rgb(255, 255, 255);
}
/* general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
}
html {
  font-size: 62.5%;
}
/* header*/

.header {
  padding: 1rem;
  display: flex;
  color: var(--cores-fontes);
  background-color: var(--core-header);
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home,
.sobre--min,
.contato {
  background-color: var(--cores-buttons);
  padding: 1rem;
  border-radius: 1rem;
}
.temporal--logo {
  font-size: 3rem;
}
/* main */
.title {
  margin-top: 1.5rem;
  text-align: center;
}
